@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
    0% { transform: translate(0, -3px) rotate(0deg); }
    25% { transform: translate(5px, 0) rotate(5deg); }
    50% { transform: translate(0, -3px) rotate(0deg); }
    75% { transform: translate(-5px, 0) rotate(-5deg); }
    100% { transform: translate(0, -3px) rotate(0deg); }
}